{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-8">

        <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET">
            <input class="form-control mr-sm-2"
                   type="search"
                   placeholder="Search"
                   aria-label="Search"
                   name ="search"
                   value="{{search_term}}"
            >
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div class="table-responsive-sm">
            {% if contacts %}

            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for c in contacts%}

                <tr>
                    <th scope="row">
                        {{c.Fname}} {{c.Mname}} {{c.Lname}}
                    </td>
                    <td class="text-center">
                        <a class="btn btn-primary" href="{%  url 'contact_detail' pk=c.pk %}">Details</a>
                        <a class="btn btn-warning" href="{%  url 'edit_contact' pk=c.pk %}">Edit</a>
                        <a class="btn btn-danger" href="{%  url 'delete_contact' pk=c.pk %}" ,method="POST">Delete</a>

                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>There is no contacts available.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}